# Operating System Files
Thumbs.db
Desktop.ini
.DS_Store

# IDE and Editor Files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node / Web
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
